@import "./mixins/respond-to";
@import "./vars.scss";
@import "./fontface.scss";

.contactForm {
  font-family: "Jura-Regular";
  color: $green;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 0;
  width: auto;
  margin: 0 auto;
  position: static;
  display: flex;
  flex-direction: column;
  @include respond-to(desktop) {
      //   padding: 2rem;
      width: 100%;
      position: relative;
      flex-direction: row;
  }
  h3 {
    font-size: 1.5em;
    color: $grey;
    margin: 1rem 0 0.5rem;
  }
  h4 {
    color: $grey;
    margin-top: 0;
    @include respond-to(desktop) {
      margin-bottom: 0;
    }
  }
  &__container,
  &__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
  &__container {
    order: 1;
    width: 100%;
    @include respond-to(desktop) {
        width: 60%;
        padding: 0 2rem 2rem;
    }
  }
  &__form {
    width: 80vw;
    padding: 2rem;
    @include respond-to(desktop) {
      width: 60%;
    }
  }
  &__label {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 0.5rem;
    text-align: left;
    font-size: 1rem;
    span {
      margin: 0.5rem 0 0.3rem;
      font-size: 1.2rem;
    }
  }
  &__title {
    color: $green;
    font-size: 1rem;
    margin-bottom: 1rem;
    text-align: left;
    width: 100%;
  }
  input,
  textarea {
    @include MPlusOneCodeFont;
    border: 1px solid $green;
    padding: 1rem;
    background-color: #ccc !important;
    color: #222;
    font-size: 1.2rem;
    border: none;
    border-radius: $borderRadius;
    width: 100%;
    &::placeholder {
      color: #333333;
      font-size: 1rem;
    }
  }
  button {
    background-color: #222;
    padding: 1rem;
    font-size: 1.4rem;
    color: #ccc;
    border-radius: $borderRadius;
    border: 1px solid transparent;
    padding: 2rem;
    font-size: 1.2em;
    font-weight: 500;
    font-family: inherit;
    cursor: pointer;
    transition: border-color 0.25s;
    margin: 1rem 0;
    @include respond-to(desktop) {
        padding: 0.6em 1.2em;
        font-size: 1.2em;
    }
    &:hover {
      border: 1px solid $green;
    }
    &:focus,
    &:focus-visible {
      outline: 1px auto $green;
    }
  }
}

.expandable {
    width: 100%;
    color: gold;
    text-align: right;
    font-size: 0.9rem;
    margin: 0.5rem 0;
}

.antenna {
    position: static;
    width: 100%;
    height: 500px;
    order: 2;
    @include respond-to(desktop) {
        width: 500px;
        height: 500px;
        position: absolute;
        bottom: 0;
        right: 0;
    }
}

