@font-face {
    font-family: 'Jura-Bold';
    src: url("../../public/fonts/Jura/Jura-Bold.ttf") format("opentype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Jura-Regular';
    src: url("../../public/fonts/Jura/Jura-Regular.ttf") format("opentype");
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}