@import "./mixins/respond-to";
@import "./vars.scss";
@import "./mixins/fontStyles";

nav {
    font-family: "Jura-Regular";
    display: flex;
    justify-content: flex-end;
    margin: 0 0.7rem 0 0;
    font-size: 1rem;
    @include respond-to(desktop) {
        margin: 0 2rem 0 0;
        font-size: 1.2rem;
    }
    a {
        margin-right: 1rem;
        &:last-of-type {
            margin-right: 0;
        }
    }
    .headerLinks {
        float: right;
        &__active {
            color: gold;
        }
        &__inactive {
            color: $grey;
        }
    }
}
