@import "./mixins/respond-to";
@import "./vars.scss";
@import "./fontface.scss";

.notFound {
    font-family: "Jura-Regular";
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: $borderRadius;
    &__ufo {
        width: 100%;
        height: 400px;
    }
    ul {
        margin-bottom: 2rem;
        padding: 0;
        li {
            display: inline-block;
            margin-right: 1rem;
            &:last-of-type {
                margin-right: 0;
            }
            a {
                position: relative;
                &::after {
                    content: "";
                    position: absolute;
                    left: 0;
                    bottom: -2px;
                    width: 100%;
                    height: 1px;
                    background-color: $grey;
                }
                &:hover::after {
                    background-color: gold;
                }
            }
        }
    }
}