@import "./mixins/respond-to";
@import "./vars.scss";
@import "./mixins/fontStyles";

.vertical-timeline {
    &::before {
      width: 1px !important;
      left: 40px !important;
    }
    @include respond-to(desktop) {
        background: rgba(0, 0, 0, 0.7) !important;
        &::before {
            left: 50% !important;
        }
    }
}

.vertical-timeline-element-date {
    float: left !important;
    color: $grey !important;
    font-size: 1.2rem !important;
    padding: 0.8em 0 0.8em 3em !important;
    opacity: 1 !important;
    @include JuraBold;
    @include respond-to(desktop) {
        padding: 1.2rem 0;
        right: 134% !important;
    }
}

.vertical-timeline--two-columns .vertical-timeline-element-content .vertical-timeline-element-date {
    // left: 130% !important;
    text-align: left !important;
    margin-left: 0 !important;
    @include respond-to(desktop) {
      // margin-left: 3.5rem !important;
    }
  }
  
  .vertical-timeline--two-columns .vertical-timeline-element:nth-child(even):not(.vertical-timeline-element--left) .vertical-timeline-element-content .vertical-timeline-element-date {
    text-align: right !important;
    
}

.vertical-timeline-element-content {
  box-shadow: none !important;
}

.vertical-timeline-element-icon {
  box-shadow: 
    0px 0px 0px 4px rgb(0, 0, 0) inset,
    0px 0px 0px 15px rgb(0, 0, 0) inset,
    0px 0px 0px 16px rgb(255, 255, 255) inset !important;
  width: 100px !important;
  height: 100px !important;
  margin-left: -50px !important;
  canvas {
    width: 100px !important;
    height: 100px !important;
  }
}

.vertical-timeline--two-columns
  .vertical-timeline-element:nth-child(even):not(
    .vertical-timeline-element--left
  ) {
  .bio {
    &__content {
      &::before {
        transform: rotate(180deg);
        left: calc(-0.5rem - 1px);
      }
    }
  }
}

.vertical-timeline-element-icon {
  animation: none !important;
  left: 40px !important;
  @include respond-to(desktop) {
    left: 50% !important;
  }
}

// .vertical-timeline-element-icon.bounce-in {
//   animation: none !important;
// }

// .vertical-timeline--two-columns .vertical-timeline-element:nth-child(even):not(.vertical-timeline-element--left) .vertical-timeline-element-content .vertical-timeline-element-date {
//   right: 135% !important;
//   @include MPlusOneCodeFont;
//   font-size: 1.2rem;
// }
