@import "./mixins/respond-to";
@import "./mixins/fontStyles";
@import "./timeline.scss";
@import "./vars.scss";

#root {
  // max-width: 1280px;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  overflow: hidden;
}

html,
body {
  background: hsla(0, 0%, 5%, 1);
}

.content {
  width: 100%;
  height: 100%;
  position: relative;
  top: 0;
  left: 0;
  overflow: hidden;
}

h2 {
  color: white;
  font-size: 1.5rem;
}

a {
  &:hover {
    color: gold;
  }
}

header {
  position: relative;
  background: $panelGrey;
  height: 70px;
  border-radius: 1rem;
  margin: 1rem auto 2rem;
  max-width: 1170px;
  z-index: 1;
}

main {
  height: auto;
  width: 100vw;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  color: white;
  position: relative;
  z-index: 1;
  @include respond-to(desktop) {
    height: 100vh;
    padding-bottom: 3rem;
  }

  .container {
    height: auto;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: left;
    font-family: "DM Mono", monospace;
    gap: 20px;
    overflow: hidden;
    background: rgba(0, 0, 0, 0.7);
    padding: 0;
    @include respond-to(desktop) {
      padding: 0 2rem 2rem;
      display: grid;
      grid-template-columns: 500px 650px;
      align-items: start;
    }
  }
  .device {
    position: relative;
    font-size: 1.1rem;
    background-color: rgb(49, 49, 49);
    min-height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
    color: white;
    &__alien {
      position: relative;
      width: auto;
      height: auto;
      order: 1;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      background: $panelGrey;
      border-radius: 1rem;
      @include respond-to(desktop) {
        // min-width: 500px;
        height: auto;
      }
      &--wide {
        width: 100%;
      }

      .miniMenu {
        position: relative;
        top: 0;
        left: 0;
        z-index: 10;
        color: gold;
        height: 3rem;
        display: flex;
        justify-content: flex-start;
      }

      .primaryPanel {
        align-self: flex-end;
        margin: 0 auto;
        border-radius: 1rem;
        height: auto;
        display: flex;
        justify-content: center;
        width: 100%;
        position: static;
        @include respond-to(desktop) {
          width: 100%;
          margin: 0;
          height: 500px;
        }

        &__wide {
          left: -70%;
          bottom: 20%;
          transition: all 1s ease-in-out;
        }
        &__narrow {
          bottom: 0;
          height: 400px;
        }
      }

      .secondaryPanel {
        position: relative;
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        font-size: 1.2rem;
        overflow: hidden;
        padding: 1.2rem;
        @include Jura;
        @include respond-to(desktop) {
          padding: 0;
          margin-top: 3rem;
        }
        &__hidden {
          display: none;
        }
        .scanMenu {
          position: relative;
          cursor: pointer;
          @include Jura;
          @include respond-to(desktop) {
            margin: 1rem auto;
            width: 380px;
          }
          &__links {
            float: right;
          }
          &__link {
            margin-right: 1rem;
            border-bottom: 1px solid $grey;
            &:last-of-type {
              margin-right: 0;
            }
          }
          span {
            position: relative;
          }
        }
        .panel {
          color: $grey;
          font-size: 1.2rem;
          text-align: left;
          left: 1rem;
          line-height: 1.4;
          white-space: pre-line;
          margin-bottom: 1rem;
          @include respond-to(desktop) {
            width: 380px;
            margin: 0 auto;
          }
          > div {
            position: relative;
          }
          .alienText {
            position: absolute;
            top: 0;
            width: 380px;
            overflow: hidden;
            .alienChar {
              background: $panelGrey;
            }
            .fade {
              visibility: hidden;
            }
          }
          .humanText {
            display: flex;
            justify-content: space-between;
          }
          span {
            position: relative;
            &:nth-child(2) {
              text-align: right;
            }
          }
        }
      }
    }
    &__human {
      order: 2;
      background-color: rgb(22, 22, 22);
      padding: 0 2rem 2rem;
      height: auto;
      width: auto;
      font-weight: 400;
      font-style: normal;
      font-size: 1.1rem;
      color: $green;
      border-radius: 1rem;
      margin-left: 0;
      white-space: pre-line;
      @include Jura;
      @include respond-to(desktop) {
        padding: 2rem;
      }
      &--hidden {
        display: none;
      }
    }
  }
}

.bio {
  &__content {
    color: $green;
    position: relative;
    border: 1px solid $grey;
    border-radius: 1rem;
    margin: 0 0 0 2rem;
    padding: 2rem;
    background: linear-gradient(
      180deg,
      rgb(32, 32, 32) 35%,
      rgb(46, 46, 46) 100%
    );
    @include Jura;
    @include respond-to(desktop) {
      margin: 0;
    }
    &::before {
      content: "";
      position: absolute;
      right: calc(-0.5rem - 1px);
      top: 0.5rem;
      width: 0px;
      height: 0px;
      border-style: solid;
      border-width: 0.5rem 0 0.5rem 0.5rem;
      border-color: transparent transparent transparent $grey;
      transform: rotate(0deg);
      display: none;
      @include respond-to(desktop) {
        display: block;
      }
    }
  }
}

.equal-height-JlocK {
  display: block;
  overflow: hidden;
  transition-property: height;
}
