@import "./mixins/respond-to";
@import "./mixins/fontStyles";
@import "./timeline.scss";
@import "./contact.scss";
@import "./header.scss";
@import "./vars.scss";
@import "./notFound.scss";

#root {
  // max-width: 1280px;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  overflow: hidden;
}

html,
body {
  background: hsla(0, 0%, 5%, 1);
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

.content {
  width: 100%;
  height: 100%;
  position: relative;
  top: 0;
  left: 0;
  overflow: hidden;
}

h1 {
  @include Jura;
  font-size: 1.2rem;
  margin: 0 0 0 2rem;
  text-align: left;
  a {
    color: $green;
  }
}

h2 {
  color: white;
  font-size: 1.5rem;
}

a {
  &:hover {
    color: gold;
  }
}

header {
  position: relative;
  background: $panelGrey;
  height: auto;
  border-radius: $borderRadius;
  margin: 1rem;
  width: auto;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0;
  @include respond-to(desktop) {
    width: 1170px;
    margin: 1rem auto 0;
    padding: 2rem 0;
  }
}

main {
  height: auto;
  width: 100vw;
  display: block;
  // align-items: flex-start;
  justify-content: center;
  color: white;
  position: relative;
  z-index: 1;
  @include respond-to(desktop) {
    display: grid;
    // gap: 1rem;
    // height: 100vh;
    row-gap: 1rem;
    // padding-bottom: 3rem;
  }

  .container {
    height: auto;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: left;
    font-family: "DM Mono", monospace;
    gap: 20px;
    overflow: hidden;
    background: rgba(0, 0, 0, 0.7);
    padding: 1rem;
    margin:  1rem;
    @include respond-to(desktop) {
      margin: 0;
      padding: 0 0 2rem;
      display: grid;
      grid-template-columns: 500px 650px;
      align-items: start;
    }
  }
  .device {
    position: relative;
    font-size: 1.1rem;
    background-color: rgb(49, 49, 49);
    min-height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    color: $grey;
    @include respond-to(desktop) {
      padding: 2rem;
    }
    &__alien {
      position: relative;
      width: auto;
      height: auto;
      order: 1;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      background: $panelGrey;
      border-radius: $borderRadius;
      padding: 2rem;
      @include respond-to(desktop) {
        height: auto;
      }
      &--wide {
        width: 100%;
      }

      .miniMenu {
        position: relative;
        top: 0;
        left: 0;
        z-index: 10;
        color: gold;
        height: 3rem;
        display: flex;
        justify-content: flex-start;
      }

      .primaryPanel {
        align-self: flex-end;
        margin: 0 auto;
        border-radius: $borderRadius;
        height: 300px;
        display: flex;
        justify-content: center;
        width: 100%;
        position: static;
        @include respond-to(desktop) {
          margin: 0;
          height: 500px;
        }

        &__wide {
          left: -70%;
          bottom: 20%;
          transition: all 1s ease-in-out;
        }
        &__narrow {
          bottom: 0;
          height: 400px;
        }
      }

      .secondaryPanel {
        position: relative;
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        font-size: 1.2rem;
        overflow: hidden;
        padding: 0;
        @include Jura;
        @include respond-to(desktop) {
          margin-top: 2rem;
        }
        &__hidden {
          display: none;
        }
        .scanMenu {
          position: relative;
          cursor: pointer;
          @include Jura;
          @include respond-to(desktop) {
            margin: 1rem auto;
            width: 380px;
          }
          &__links {
            float: right;
          }
          &__link {
            position: relative;
            margin: 0.6rem 0;
            // border-bottom: 1px solid $grey;
            @include respond-to(desktop) {
              margin-right: 1rem;
            }
            &:last-of-type {
              margin-right: 0;
            }
            &:after {
              content: "";
              position: absolute;
              left: 0;
              bottom: -2px;
              width: 100%;
              height: 1px;
              background: $grey;
            }
            &:hover::after {
              background: gold;
            }
            &--disabled {
              cursor: default;
              color: #888;
              &:after {
                display: none;
              }
            }
          }
          span {
            position: relative;
            display: block;
            width: 100%;
            @include respond-to(desktop) {
                display: inline;
                width: auto;
              }
          }
        }
        .panel {
          color: $grey;
          font-size: 1.2rem;
          text-align: left;
          left: 1rem;
          line-height: 1.4;
          white-space: pre-line;
          margin-bottom: 1rem;
          @include respond-to(desktop) {
            width: 380px;
            margin: 0 auto;
          }
          > div {
            position: relative;
          }
          .alienText {
            position: absolute;
            top: 0;
            width: 380px;
            overflow: hidden;
            .alienChar {
              background: $panelGrey;
            }
            .fade {
              visibility: hidden;
            }
          }
          .humanText {
            display: flex;
            justify-content: space-between;
          }
          span {
            position: relative;
            &:nth-child(2) {
              text-align: right;
            }
          }
        }
      }
    }
    &__human {
      order: 2;
      background-color: rgb(22, 22, 22);
      padding: 0 1rem 2rem;
      height: auto;
      width: 100%;
      font-weight: 400;
      font-style: normal;
      font-size: 1.1rem;
      color: $green;
      border-radius: $borderRadius;
      margin-left: 0;
      white-space: pre-line;
      @include Jura;
      @include respond-to(desktop) {
        width: auto;
        padding: 2rem;
      }
      &--hidden {
        display: none;
      }
    }
  }
}

.bio {
  &__content {
    color: $green;
    position: relative;
    border: 1px solid $grey;
    border-radius: $borderRadius;
    margin: 0 0 0 2rem;
    padding: 2rem;
    background: linear-gradient(
      180deg,
      rgb(32, 32, 32) 35%,
      rgb(46, 46, 46) 100%
    );
    @include Jura;
    @include respond-to(desktop) {
      margin: 0;
    }
    &::before {
      content: "";
      position: absolute;
      right: calc(-0.5rem - 1px);
      top: 0.6rem;
      width: 0px;
      height: 0px;
      border-style: solid;
      border-width: 0.5rem 0 0.5rem 0.5rem;
      border-color: transparent transparent transparent $grey;
      transform: rotate(0deg);
      display: none;
      @include respond-to(desktop) {
        display: block;
      }
    }
  }
}

.equal-height-JlocK {
  display: block;
  overflow: hidden;
  transition-property: height;
}

.content--canvas {
  display: none;
  @include respond-to(desktop) {
    display: block;
  }
}

// @media (prefers-color-scheme: light) {
//   :root {
//     color: #213547;
//     background-color: #ffffff;
//   }
//   /* a:hover {
//     color: #747bff;
//   } */
//   /* button {
//     background-color: #f9f9f9;
//   } */
// }
