@import "./mixins/respond-to";
@import "./vars.scss";
@import "./mixins/fontStyles";

.modal {
    font-family: "Jura-Regular";
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    &__background {
        position: absolute;
        width: 100vw;
        height: 100vh;
        z-index: 10;
        top: 0;
    }
    &__content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: rgba(0, 0, 0, 1);
        color: $grey;
        border: 1px solid $grey;
        border-radius: 0.5rem;
        padding: 1rem;
        z-index: 11;
        width: 90%;
        height: auto;
        @include respond-to(desktop) {
            width: 30vw;
        }
        button {
            position: absolute;
            top: 1rem;
            right: 1rem;
            background: none;
            border: none;
            color: $grey;
            cursor: pointer;
        }
    }
}